// colors
$white: #fff;
$black: #000;
$blue: #7ab2ea;
$green: #4dd4a4;
$darkGreen: #00915e;
$yellow: #ffe07b;
$darkBlue: #5599da;
$darkerBlue: #357dc4;
$blueLightBackground: #a6cef5;
$darkGray: #8a939c;
$lightGray: #d3d3d3;
$lighterGray: #ebebeb;
$yellow: #eab508;
$red: #ff5f57;

// font
$font-family-sans-serif: 'Open Sans', Calibri, sans-serif;
